<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036370494358-49615p6rvtvpo194q2hch8kcap42puhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036370494358-49615p6rvtvpo194q2hch8kcap42puhr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1036370494358-51gedeji15h4okr6tq8pqedhrio6ue4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlFJ0AZqOg9MHbjpOwtF_bo2RZv7GdP4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1036370494358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezraa</string>
	<key>PROJECT_ID</key>
	<string>ezraa-4af61</string>
	<key>STORAGE_BUCKET</key>
	<string>ezraa-4af61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036370494358:ios:fa365fe0420d195b80d3b7</string>
</dict>
</plist>